<div class="promoButtons">
    <div class="banner ventrilo">
        <button class="button">{% trans %}Order now{% endtrans %}</button>
    </div>
    <div class="banner bf3">
        <button class="button">{% trans %}Order now{% endtrans %}</button>
    </div>
    <div class="banner teamspeak">
        <button class="button">{% trans %}Order now{% endtrans %}</button>
    </div>
</div>